---
layout: default
---
<div class="container">
    <div id="tagline-container">
        <div class="row" id="tagline" style="margin: 8rem 0 8rem 0">
            <div>
                <img class="img-responsive"
                     alt="OData logo"
                     src="{{'/assets/ODataLogo-250.png' | prepend: site.baseurl | prepend: site.url}}">
            </div>
            <div>
                <h1>OData</h1>
                <h2>The best way to REST</h2>
                <p>An <b>open protocol</b> to allow the creation and consumption of <b>queryable</b> and <b>interoperable RESTful APIs</b> in a <b>simple</b> and <b>standard</b> way.</p>
                <button class="big-action" 
                        onclick="window.location.href = '/get-started/'"
                        style="margin-top: 1rem">
                    Get Started
                </button>
            </div>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="row" style="margin: 4rem 0 6rem 0">
            <h3 style="text-align:center; padding:2rem;">Recent Posts</h3>
            <div class="items-container centered">
                {% for post in site.posts %}
                {% if forloop.index < 4 %}
                <div onclick="location.href='{{post.url}}'">
                    <p class="recent-post-title"><a href='{{post.url}}'>{{post.title}}</a></p>
                    <p><em>by {{ post.author }}</em></p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin: 4rem 0 6rem 0">
        <h3 style="text-align:center; padding:2rem;">Featured Tools</h3>
        <div class="items-container centered" style="flex-wrap:wrap; align-content:space-between">
            {% assign featuredTools = site.tools | where: "featured", "true" %}
            {% for tool in featuredTools %}
            <div class="card" tabindex="0" onclick="location.href='{{tool.link}}'" style="flex-basis:47%">
                <h4>{{tool.title}}</h4>
                <img src="{{tool.image-path | prepend: site.baseurl | prepend: site.url}}" alt={{tool.image-alt}} />
                <p>{{tool.content}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row" style="margin: 4rem 0 6rem 0">
        <h3 style="text-align:center; padding:2rem;">Featured Libraries</h3>
        <div class="items-container" style="justify-content:center; flex-wrap:wrap">
            {% assign libraries = site.libraries | group_by: "category" %}
            {% for library in libraries %}
            {% assign items = library.items | sort: "rownumber", 'first' | reverse %}
            {% assign featuredItems = items | where: "featured", "true" %}
            {% for item in featuredItems %}
            <div class="card" tabindex="0" onclick="location.href='{{item.downloads[0].link}}'">
                <h4>{{item.name}}</h4>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <!--
      <div id="CustomerQuotation" class="carousel slide row" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-color:orange; color:black; padding:50px;">
                    <h1>"Blah blah blah blah blah"</h1>
                    <h2 class="text-right">-- Author Name, author title, company</h2>
            </div>
            <div class="item" style="background-color:orange; color:black; padding:50px;">
              <h1>"Blah blah blah blah blah"</h1>
              <h2 class="text-right">-- Author Name, author title, company</h2>
            </div>
          </div>
      </div>
      <div>
          <h2 class="text-center">OData has a rich <strong>Ecosystem</strong>. <strong><a href='https://www.odata.org/ecosystem/'>Click Here</a></strong> to find more!</h2>
      </div>
    -->
    <!-- customer logos
      <div class="row icon">
        <div class="col-md-2">
          <img src="/assets/ODataLogo-150.png" alt="Icon1">
        </div>
        <div class="col-md-2">
          <img src="/assets/ODataLogo-150.png" alt="Icon1">
        </div>
      </div>
    -->
</div>

<script>
  $(function(){
    var myCarousel = $("#myCarousel");

    $('#myCarousel.slide').carousel({
        interval: 5000,
        pause: "hover"
    });
    
    $('input').focus(function(){
       myCarousel.carousel('pause');
    }).blur(function() {
      myCarousel.carousel('cycle');
    });

    var carousel = document.getElementById('myCarousel');

    var liveRegion = document.createElement('span');
    liveRegion.setAttribute('aria-live', 'polite');
    liveRegion.setAttribute('aria-atomic', 'true');
    liveRegion.setAttribute('class', 'live-region sr-only');
    carousel.appendChild(liveRegion);

    var headers = $(myCarousel).find('div.carousel-inner > div > div > h1');

    myCarousel.on('slid.bs.carousel', function () {
      var activeSlide = $('#myCarousel > div.carousel-inner > div.active > div > h1');
      var captionText = activeSlide.text();
      var position =  headers.index(activeSlide) + 1
      liveRegion.textContent = 'Slide ' + position + ' of ' + headers.length + ' - ' + captionText;
    });
});
</script>
