body {
    font-family: "Microsoft Yahei Light";
    background-color:#FEF9F7;
    font-size: 16px;
    color: #6F6F6E;
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 3.5px 5px rgba(0,0,0,0.15); 
}

.navbar-default .navbar-nav>li>a {
  color: #F18B1B;
}

.navbar-default .navbar-nav {
  float: right;
  width: 60% ;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Microsoft Yahei";
}


.step-buttons{
    font-size: 12px;
}
.zero-bottom-margin{
    margin-bottom: 0;
}
.zero-top-margin{
    margin-top: 0;
}
.zero-bottom-padding{
    padding-bottom: 0;
}
.side-padding{
    padding-left: 30px;
    padding-right: 30px;
}
.bottom-margin{
    margin-bottom: 30px;
}
.bottom-padding{
    padding-bottom: 30px;
}
.top-padding{
    padding-top: 30px;
}
.bottom-margin{
    margin-bottom: 30px;
}
.top-margin{
    margin-top: 30px;
}

.transparent-background{
    background-color: transparent;
}
.code-row{
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    padding: 15px 15px 15px;
    background-color: white;
}
.modal-body{
    max-height: 500px;
    overflow: auto;
}
.github-logo{
    float: left;
    margin-top: 10px;
    max-width: 100px;
    max-height: 100px;
}
#top-link-block.affix-top{
    position: absolute; 
}
.logo-image{
    background-size: cover;
    background-repeat: no-repeat;
}