<footer class="content-info" role="contentinfo">

<div class="footer" aria-label="content-info">
    <div class="container">
        <div class="items-container centered">
            <div>
                <p><strong>Follow</strong></p>
                <p><a href="https://twitter.com/odataorg">OData Org</a></p>
            </div>
            <div>
                <p><strong>Contact</strong></p>
                <p><a href="mailto:odatadev@microsoft.com">odatadev@microsoft.com</a></p>
            </div>
            <div>
                <p><strong>Discuss</strong></p>
                <p><a href="https://groups.google.com/forum/#!forum/odata-discussion">OData Google Group Forum</a></p>
            </div>
            <div>
                <p><strong>Contribute</strong></p>
                <p><a href="https://github.com/OData">OData Org</a></p>
            </div>
        </div>
        <p>&copy; 2015-{{ 'now' | date: "%Y" }} OData – The Protocol for REST APIs </p>
    </div>
</div>

</footer>
