<nav class="navbar navbar-default" role="navigation">

  <div class="container container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#odata-navbar-collapse"    style="border-color: transparent; 
    background-color: #F18B1B;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">
        <img src="/assets/odata-logo.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="odata-navbar-collapse" style="border-color:transparent; color: #333333;">
      <form class="navbar-form navbar-left" role="search" style="border-color:transparent; float: right!important;">
        <div class="form-group">
          <input type="text" class="form-control st-default-search-input" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav">
        <li><a href="/blog">Blog</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Developers <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/getting-started">Getting Started</a></li>
            <li><a href="/documentation">Documentation</a></li>
            <li><a href="/libraries">Libraries</a></li>
            <li><a href="/odata-services">Reference Services</a></li>
            <li><a href="/odata-icon-usage-guidelines/">Icon Usage</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Tools <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="//services.odata.org/validation/" target="_blank">OData Validator</a></li>
            <li><a href="//services.odata.org/ODataAPIExplorer/ODataAPIExplorer.html" target="_blank">OData API Explorer</a></li>
            <li><a href="//pragmatiqa.com/xodata/" target="_blank">XOData</a></li>
          </ul>
        </li>
        <li><a href="/ecosystem">Ecosystem</a></li>
        <li><a href="/contribution">Getting Involved</a></li>
      </ul>


    </div>

  </div> 
</nav>


<!-- Fork me on GitHub ribbon -->
<a id="fork-me-on-github" href="https://github.com/odataorg/odataorg.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 9999;" src="/assets/forkmeongithub.png" alt="Fork me on GitHub"></a>

