<header class="banner navbar navbar-default navbar-static-top" role="banner">
 
<div class="container">
  
  <div class="navbar-header">
    <a class="brand" href="{{ site.url }}">
      <img class="img-responsive" src="{{site.url}}assets/OData-logo-e1393393068350.png">
    </a>
  </div>
  
  
  <nav class="collapse navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="{{ site.url }}blog">Blog</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Developers <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ site.url }}getting-started">Getting Started</a></li>
            <li><a href="{{ site.url }}documentation">Documentation</a></li>
            <li><a href="{{ site.url }}libraries">Libraries</a></li>
            <li><a href="{{ site.url }}odata-services">Reference Services</a></li>
            <li><a href="{{ site.url }}odata-icon-usage-guidelines/">Icon Usage</a></li>
        </ul>
      </li>
      <li><a href="{{ site.url }}ecosystem">Ecosystem</a></li>
      <li><a href="{{ site.url }}contribution">Getting Involved</a></li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control st-default-search-input" placeholder="Search">
      </div>
    </form>
  </nav>
  
</div> 

</header>

