<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{'/public/tabs.js' | prepend: site.baseurl | prepend: site.url}}"></script>
<script src="{{'/public/combobox-autocomplete.js' | prepend: site.baseurl | prepend: site.url}}"></script>

<script src="{{'/public/site.js' | prepend: site.baseurl | prepend: site.url}}"></script>

<script src="{{'/public/skipto.min.js' | prepend: site.baseurl | prepend: site.url}}" type="text/javascript"></script>
<script type="text/javascript"
        src="{{'/public/jquery.swiftype.search.js' | prepend: site.baseurl | prepend: site.url}}"></script>
<script type="text/javascript"
        src="{{'/public/jquery.swiftype.autocomplete.js' | prepend: site.baseurl | prepend: site.url}}"></script>
<script>
    $(document).ready(function () {

        skipToMenuInit({
            settings: {
                skipTo: {
                    headings: "h1, h2, h3, h4",
                    main: "main, [role=main]",
                    landmarks: "[role=navigation], [role=search]",
                    sections: "nav",
                    accesskey: "0",
                    wrap: "true",
                    visibility: "onfocus",
                    attachElement: ".skip-nav-elements"
                }
            }
        });
        var search = $('#search');

        var renderResults = function (ctx, data) {
            var results = [];

            $.each(data, function (docType, opts) {
                $.each(opts, function (idx, result) {
                    // Specify a valid Swiftype field/meta tag. results.FIELD == VALUE
                    results.push(result);
                });
            });
            var dropdown = $(
                '<div class="autocomplete__segment">' +
                '<ul id="search-results" class="autocomplete__segment-header"  role="listbox"\n' +
                '      aria-label="Search Results"></ul>' +
                '</div>');

            // Create a reusable function to render results.
            function renderResult(result) {
                var title = result.title,
                    section = result.sections[0],
                    url = result['url'];

                if (result.title == null || title === undefined) {
                    title = result.highlight.sections;
                    section = result.sections[1] || '';
                }

                return $(
                    '<li role="option" id="' + result['id'] + '" class="autocomplete-result"  aria-label="' + title+ '"><a href="' + url + '">' +
                    '<span\n        class="autocomplete-result__title">' + section + '</span> <br>' +
                    '<small class="autocomplete-result__description muted" aria-label="' + title + '">' + title + '</small>' +
                    '</a>\n</li>'
                );
            }
            // append the items to the first child which is the search-results
            var child = dropdown.children()[0];
            $.each(results, function (idx, item) {
                ctx.registerResult(renderResult(item).appendTo(child), item);
            });

            if (results.length > 0) {
                dropdown.appendTo(ctx.list);
            }

           search.attr('aria-expanded', true);
            var button= document.getElementById('cb1-button');
            var cba = new ComboboxAutocomplete(document.getElementById('search'), button, document.getElementById('search-results'));
            cba.init();
            button.click();
        };

       search.swiftype({
            resultRenderFunction: renderResults,
            suggestionListType: 'div',
            resultLimit: 10,
            resultListSelector: '.autocomplete-result',
            resultContainingElement: '#st-results-container', // Points to our results content division element.
            engineKey: 'Xk5RQZP53Ry3gEkcFvYK',
            fetchFields: ['url', 'title', 'type', 'body']
        });

        search.swiftypeSearch({
            engineKey: 'Xk5RQZP53Ry3gEkcFvYK',
            resultLimit: 10,
        });
    });
</script>