---
layout: page
title: Ecosystem
date: 2014-02-27 05:16:30.000000000 +08:00
permalink: /ecosystem/
---
<div class="row">
<div class="col-md-2">
<ul class="nav nav-pills nav-stacked">
	<li class="active"><a href="#producers" data-toggle="pill">Producers</a></li>
	<li><a href="#consumers" data-toggle="pill">Consumers</a></li>
	<li><a href="#liveservices" data-toggle="pill">Live Services</a></li>
	<li><a href="#sdk" data-toggle="pill">Sample Code</a></li>
	<li><a href="#tutorials" data-toggle="pill">Tutorials</a></li>
</ul>
</div>
<div class="col-md-10">
<div class="tab-content">
	<div id="producers" class="tab-pane active">
	<h2 id="producers_header">Producers</h2>
	OData producers are services that expose their data using the OData protocol. Below we have collected a list of key OData producers, which will continue to grow along with the OData ecosystem. You can use <a href="https://www.odata.org/libraries">OData SDK</a> to build your own OData producers. If you create or know of an OData producer not listed be sure to let us know via our new <a href="https://www.odata.org/contribution">contribution page</a>.

	<a href="https://www.telerik.com/products/orm.aspx">Telerik OpenAccess ORM</a>In mid-2010 Telerik released a LINQ implementation that is simple to use and produces domain models very fast. Built on top of the enterprise-grade Telerik OpenAccess ORM the LINQ implementation allows you to easily build an OData feed via a few easy steps by using the OpenAccess Visual Designer and the Data Services Wizard. For more info, visit <a href="https://www.telerik.com/odata">www.telerik.com/odata</a>
	<table class="table table-striped table-hover" role="presentation" aria-describedby="producers_header">
	<tbody>
		{% assign producers = site.ecosys | where: "category", "producers" %}
		{% for producer in producers %}
			<tr>
			<td width="200">
				{% if producer.link == NULL %}
					{{producer.title}}
				{% else %}
				<a href={{producer.link}}>{{producer.title}}</a>
				{% endif %}
				</td>
			<td>{{producer.content}}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	</div>
	<div id="consumers" class="tab-pane">
	<h2 id="consumers_header">Consumers</h2>
	OData consumers are simply applications that consume data exposed using the OData protocol. OData consumers can vary greatly in sophistication, from something as simple as your web browser all the way through to a custom application that takes advantage of all the features of the OData Protocol. Below we have collected a list of key OData consumers, which will continue to grow along with the OData ecosystem. Simply pick a consumer from the list below and point it at one of the live services. If you create or know of an OData consumer not listed be sure to let us know via our new <a href="https://www.odata.org/contribution">contribution page</a>.
	<table class="table table-striped table-condensed table-hover" role="presentation" aria-describedby="consumers_header">
	<tbody>
		{% assign consumers = site.ecosys | where: "category", "consumers" %}
		{% for consumer in consumers %}
			<tr>
				<td width="200">
					{% if consumer.link == NULL %}
						{{consumer.title}}
					{% else %}
						<a href={{consumer.link}}>{{consumer.title}}</a>
					{% endif %}
				</td>
				<td>{{consumer.content}}</td>
				</tr>
		{% endfor %}
</tbody>
</table>
</div>
<div id="liveservices" class="tab-pane">
	<h2 id="liveservices_header">Live Services</h2>
<table class="table table-striped table-condensed table-hover" role="presentation" aria-describedby="liveservices_header">
<tbody>
	{% assign liveservices = site.ecosys | where: "category", "liveservices" %}
	{% for liveservice in liveservices %}
		<tr>
		<td width="200">
			{% if liveservice.link == NULL %}
				{{liveservice.title}}
			{% else %}
			<a href={{liveservice.link}}>{{liveservice.title}}</a>
			{% endif %}
		</td>
		<td>{{liveservice.content}}</td>
		</tr>
	{% endfor %}
</tbody>
</table>
</div>
<div id="sdk" class="tab-pane">
<h2 id="sdk_header">OData SDK - Sample Code</h2>
The OData SDK includes some sample code to show you how to do everything from create a general purpose OData Explorer to creating OData services and tests that verify that service is producing valid OData.
<table class="table table-striped table-condensed table-hover" role="presentation" aria-describedby="sdk_header">
<tbody>
	{% assign sdks = site.ecosys | where: "category", "sdk" %}
	{% for sdk in sdks %}
		<tr>
			<td width="200">
			{% if sdk.link == NULL %}
				{{sdk.title}}
			{% else %}
				<a href={{sdk.link}}>{{sdk.title}}</a>
			{% endif %}
			</td>
			<td>{{sdk.content}}</td>
			{% if sdk.download != NULL %}
				<td><a href={{sdk.download}}>Download</a></td>
			{% elsif sdk.github != NULL %}
				<td><a href={{sdk.github}}>Github</a></td>
			{% endif %}
		</tr>
	{% endfor %}
</tbody>
</table>
</div>
<div id="tutorials" class="tab-pane">
<h2 id="tutorials_header">Tutorials</h2>
<table class="table table-striped table-condensed table-hover" role="presentation" aria-describedby="tutorials_header">
<tbody>
	{% assign tutorials = site.ecosys | where: "category", "tutorials" %}
	{% for tutorial in tutorials %}
		<tr>
		<td width="200">
			{% if tutorial.link == NULL %}
				{{tutorial.title}}
			{% else %}
			<a href={{tutorial.link}}>{{tutorial.title}}</a>
			{% endif %}
		</td>
		<td>{{tutorial.content}}</td>
		</tr>
	{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
<div>
<h4>Contribute to OData Ecosystem</h4>
Want to add/update information of the OData ecosystem? You can edit and submit changes to this page on its <a href="https://github.com/ODataOrg/odataorg.github.io" target="_blank">Github repository</a>.

</div>
