---
layout: page
title: Libraries
date: 2014-02-20 06:57:09.000000000 +08:00
permalink: /libraries/
---
<ul class="nav nav-pills">
  <li class="active">
    <a href="#net" data-toggle="pill">.NET</a>
  </li>
  <li>
    <a href="#java" data-toggle="pill">Java</a>
  </li>
  <li>
    <a href="#javascript" data-toggle="pill">JavaScript</a>
  </li>
  <li>
    <a href="#cpp" data-toggle="pill">C++</a>
  </li>
  <li>
    <a href="#other" data-toggle="pill">Other Platforms</a>
  </li>
</ul>
<p></p>
<div class="tab-content">
  <div class="tab-pane active table-responsive" id="net">
    <table class="table table-striped table-condensed table-hover" style="width:100%">
      <tr>
        <th width="20%">Name</th>
        <th width="50%">Description</th>
        <th width="10%">Support OData version(s)</th>
        <th width="10%">For server/client</th>
        <th width="10%">Download from</th>
      </tr>
      {% assign nets = site.libraries | where: "category", "net" | sort: "version", 'first' | reverse %}
      {% for net in nets %}
      <tr>
        <td>
          {% if net.link %}
          <a href={{net.link}}>{{net.name}}</a>
          {% else %}
          {{net.name}}
          {% endif %}
        </td>
        <td>{{net.content}}</td>
        <td>{{net.version}}</td>
        <td>{{net.object}}</td>
        <td>{% for download in net.downloads %}
          {% if download.source != net.downloads[0].source %},&nbsp{% endif %}
          <a href={{download.link}} target="_blank">{{download.source}}</a>
        {% endfor %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% assign libraries = site.libraries | group_by: "category" %}
  {% for library in libraries %}
  <div class="tab-pane table-responsive" id={{library.name}}>
    <table class="table table-striped table-condensed table-hover" style="width:100%">
      <tr>
        <th width="20%">Name</th>
        <th width="50%">Description</th>
        <th width="10%">Support OData version(s)</th>
        <th width="10%">For server/client</th>
        <th width="10%">Download from</th>
      </tr>
      {% assign items = library.items | sort: "version", 'first' | reverse %}
      {% for item in items %}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.content}}</td>
        <td>{{item.version}}</td>
        <td>{{item.object}}</td>
        <td>{% for download in item.downloads %}
          {% if download.source != item.downloads[0].source %},&nbsp{% endif %}
          <a href={{download.link}} target="_blank">{{download.source}}</a>
        {% endfor %}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
</div>
<div>
  <h4>Contribute to OData Libraries</h4>
  <p>Want to add/update information of an OData library? You can edit and submit changes to this page on its <a href="https://github.com/ODataOrg/odataorg.github.io" target="_blank">Github repository</a>.</p>
</div>
