---
layout: page
title: Libraries
date: 2014-02-20 06:57:09.000000000 +08:00
permalink: /libraries/
---
<div aria-label="Languages" id="tabs">
  <ul role="tablist" class="nav nav-tabs" id="tablinks">
    <li role="presentation" class="active">
      <a aria-label=".net" role="tab" data-toggle="tab" aria-controls="net1" tabindex="0">.NET</a>
    </li>
    <li role="presentation">
      <a aria-label="Java" role="tab" data-toggle="tab" aria-controls="java" tabindex="-1">Java</a>
    </li>
    <li role="presentation">
      <a aria-label="JavaScript" role="tab" data-toggle="tab" aria-controls="javascript" tabindex="-1">JavaScript</a>
    </li>
    <li role="presentation">
      <a aria-label="C++" role="tab" data-toggle="tab" aria-controls="cpp" tabindex="-1">C++</a>
    </li>
    <li role="presentation">
      <a aria-label="Other Platforms" role="tab" data-toggle="tab" aria-controls="other" tabindex="-1">Other Platforms</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="net1" role="tabpanel" tabindex="0">
      <table class="table table-striped table-condensed table-hover reflows" role="presentation" aria-label=".NET Libraries">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Support OData version(s)</th>
          <th>For server/client</th>
          <th>Download from</th>
        </tr>
      </thead>
      <tbody>
        {% assign nets = site.libraries | where: "category", "net" | sort: "rownumber", 'first' | reverse %}
        {% for net in nets %}
        <tr>
          <td>
            {% if net.link %}
            <a href={{net.link}}>{{net.name}}</a>
            {% else %}
            {{net.name}}
            {% endif %}
          </td>
          <td>{{net.content | markdownify}}</td>
          <td>{{net.version}}</td>
          <td>{{net.object}}</td>
          <td>{% for download in net.downloads %}
            {% if download.source != net.downloads[0].source %},&nbsp{% endif %}
            <a href={{download.link}} target="_blank">{{download.source}}</a>
          {% endfor %}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    
    {% assign libraries = site.libraries | group_by: "category" %}
    {% for library in libraries %}
    {% if library.name != "net" %}

    <div class="tab-pane" id="{{library.name}}" role="tabpanel" hidden>
      <table class="table table-striped table-condensed table-hover reflows" role="presentation" aria-label="{{library.name}} Libraries">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Support OData version(s)</th>
          <th>For server/client</th>
          <th>Download from</th>
        </tr>
      </thead>
      <tbody>
        {% assign items = library.items | sort: "rownumber", 'first' | reverse %}
        {% for item in items %}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.content | markdownify}}</td>
          <td>{{item.version}}</td>
          <td>{{item.object}}</td>
          <td>{% for download in item.downloads %}
            {% if download.source != item.downloads[0].source %},&nbsp{% endif %}
            <a href={{download.link}} target="_blank">{{download.source}}</a>
          {% endfor %}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    {% endif %}
    {% endfor %}
  </div>
<div>
</div>
  <h4>Contribute to OData Libraries</h4>
  <p>Want to add/update information of an OData library? You can edit and submit changes to this page on its <a href="https://github.com/ODataOrg/odataorg.github.io" target="_blank">Github repository</a>.</p>
</div>
