---
layout: default
---
<div class="container">
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>


  <div class="row">
  	<div class="col-md-8">
  		{{ content }}
  	</div>
  	<div class="col-md-4">
  		<h3>Contact</h3>
  		<p>You can write your blogs on odata.org.</p>
  		<p>Email to us directly</p>

  		<h3>Connect</h3>
  		<p>Subscribe OData blog</p>
  		<p>Follow us on Twitter</p>

  		<h3>Contributors</h3>
  		<p>Great thanks to active contributors on our site</p>
  		<p>Qian Li</p>
  		<p>Yi Ding</p>
  		<p>Mike Pizzo</p>
  		<p>Vagif Abilov</p>
  		<p>Chris Woodruff</p>
  		<p>...</p>

  	</div>
  </div>

  
</div>