---
layout: default
---
<div>
    <div class="container">
        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="banner upgrade">
        <div class="container">
            <h2>Upgrade Your OData: Version 4.0 Available!</h2>
            <p>OData Version 4.0 is the current recommended version of OData. OData V4 has been standardized by OASIS and has many features not included in previous versions.</p>
            <br />
            <button class="big-action" onclick="window.location.href = '/documentation/'">Latest OData Version</button>
        </div>
    </div>
    <div class="container">
        {{ content }}
    </div>
</div>